apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  labels:
    app: iris-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api
        image: PLACEHOLDER_IMAGE
        ports:
        - containerPort: 8200
        env:
        - name: MODEL_PATH
          value: "/app/models/model.joblib"
        readinessProbe:
          httpGet:
            path: /
            port: 8200
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8200
          initialDelaySeconds: 10
          periodSeconds: 10
